.game {
  user-select: none;
}

.board {
  outline: solid var(--game-board-border-thickness) var(--game-board-border);
  outline-offset: calc(var(--game-mino-border-thickness) * -0.5);
  border-radius: var(--game-board-radius);
  width: var(--game-board-size);
  height: var(--game-board-size);
  --scaled-bg-size: calc(var(--game-tile-size) * 2);
  display: grid;
  grid-template-rows: repeat(var(--game-tiles), 1fr);
  grid-template-columns: repeat(var(--game-tiles), 1fr);
  grid-row-start: 2;
  grid-column-start: 2;
  background: conic-gradient(
    var(--game-tile-light) 90deg,
    var(--game-tile-dark) 90deg 180deg,
    var(--game-tile-light) 180deg 270deg,
    var(--game-tile-dark) 270deg
  );
  background-size: var(--scaled-bg-size) var(--scaled-bg-size);
}

.board > * {
  pointer-events: none;
}

.info-container {
  margin-right: auto;

  margin-left: auto;
  width: calc(var(--game-board-size) + var(--game-board-border-thickness) / 2);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.header > img {
  width: 2rem;
  height: 2rem;
}

.util-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.button-bar-bottom {
  justify-content: center;
  padding-top: 1rem;
  font-size: 4rem;
}

.button-bar > button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  font-size: inherit;
}

.button-bar > select {
  outline: none;
  border: none;
  background: none;
}

.container {
  display: grid;
  grid-template-rows: max(var(--game-numbers-room), calc(var(--game-tiles) * 1vmin)) auto;
  grid-template-columns: max(var(--game-numbers-room), calc(var(--game-tiles) * 1vmin)) max-content max(
      var(--game-numbers-room),
      calc(var(--game-tiles) * 1vmin)
    );
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.numbers {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: var(--color-text);
  font-weight: 700;
  font-size: 3.5vmin;
  font-family: 'Delius Unicase';
}

.numbers-side {
  grid-template-rows: repeat(var(--game-tiles), 1fr);
  grid-template-columns: auto;
  grid-row-start: 2;
  padding: calc(var(--game-board-border-thickness) / 2) 0;
}

.numbers-top {
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--game-tiles), 1fr);
  grid-row-start: 1;
  grid-column-start: 2;
  padding: 0 calc(var(--game-board-border-thickness) / 2);
}

.audio-request {
  cursor: pointer;
  outline: none;

  border: none;
  border-radius: var(--game-board-radius);
  background: var(--game-unrevealed);
  width: var(--game-board-size);
  height: var(--game-board-size);
  pointer-events: all;
  color: var(--color-text);
  font-weight: 700;

  font-size: 2rem;
}

.mino-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
}

.mino-picker > div:nth-child(1) {
  padding: 0 calc(var(--game-tile-size) / 2);
}

.mino-picker > div:nth-child(2) {
  padding: calc(var(--game-tile-size) / 2) 0;
}

.block {
  display: flex;
  position: relative;
  grid-row-end: span 1;
  grid-column-end: span 1;
  outline: solid var(--game-mino-border-thickness) var(--game-mino-border);
  outline-offset: calc(var(--game-mino-border-thickness) * -0.5);
  border-radius: var(--game-board-radius);
  background: var(--game-block-color);
}

.version {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  margin: 1rem;
  touch-action: none;
  pointer-events: none;
  color: var(--color-text-disabled);
  font-family: 'Delius Unicase';
}
