@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Inter:wght@100..900&display=swap');

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --theme: light;

  --color-bg: #f4f4f4;
  --color-text: black;
  --color-text-secondary: #484848;
  --color-text-disabled: #949494;
  --color-link: #5959e0;
  --color-battle: var(--color-link);

  --color-text-red: #e80c00;
  --color-text-green: #2ba100;

  --game-tile-size: 8vmin;
  --game-tiles: 7;

  --game-tile-dark: #bebebe;
  --game-tile-light: #cfcfcf;
  --game-tile-selected: #ebebeb;
  --game-tile-removed: #979797;

  --game-board-radius: 1.25vmin;
  --game-board-border: #232323;
  --game-board-border-thickness: 0.5vmin;
  --game-board-size: calc(var(--game-tile-size) * var(--game-tiles));

  --game-mino-border-thickness: var(--game-board-border-thickness);
  --game-mino-border: #232323;
  --game-mino-separator: #e7e7e7;
  --game-mino-width: 0.75vmin;
  --game-mino-pip-size: calc(var(--game-tile-size) / pi);

  --game-block-color: #3d3d3d;
  --game-unrevealed: rgba(255, 255, 255, 0.25);

  --game-numbers-room: 2vmin;
}

.colorblind {
  --color-text-green: #7c40ff;
}

.dark {
  --theme: dark;

  --color-bg: #111111;
  --color-text: #ffffff;
  --color-text-secondary: #cacaca;
  --color-text-disabled: #5f5f5f;
  --color-link: #9595ff;
  --color-battle: #eb85ff;

  --color-text-red: #ff5b52;
  --color-text-green: #6aff34;

  --game-tile-dark: #282828;
  --game-tile-light: #333333;
  --game-tile-selected: #6e6e6e;
  --game-tile-removed: #3b3b3b;

  --game-board-border: #252525;
  --game-mino-border: #5f5f5f;

  --game-block-color: #7d7d7d;
}

.theme-loaded {
  transition:
    background-color 250ms,
    color 250ms;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  color-scheme: var(--theme);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link);
}

@media screen and (orientation: portrait) {
  body {
    --game-tile-size: calc(100vmin / var(--game-tiles) - var(--game-numbers-room));
  }
}
