.settings-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;
  user-select: none;
}

.settings-container {
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  border-radius: var(--game-board-radius);
  background: var(--color-bg);
  padding: 1rem;
  width: var(--game-board-size);
  color: var(--color-text);
}

.settings-bar > h1 {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.settings-bar > h1 > svg {
  color: var(--color-text-secondary);
}

.settings-bar {
  display: flex;
  justify-content: space-between;
}

.settings-socials-bar {
  display: flex;
  width: 100%;
}

.settings-socials-bar > a {
  display: flex;
  justify-content: center;
  margin: 1rem 0.5rem;
  outline: solid var(--game-mino-border-thickness) var(--game-mino-border);
  border-radius: var(--game-board-radius);
  padding: 1rem 0;
  width: 100%;
  color: var(--color-text);
  font-size: 2rem;
}

.setting {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.setting > p {
  color: var(--color-text-secondary);
}
